<div class="row">
  <div class="container">
    <h1>Listing tasks <%= link_to 'New Task', new_project_story_task_path, :class=>"btn btn-primary pull-right" %></h1>
    <% @tasks.each do |task| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <%= task.name %>
            <%= link_to 'Edit', edit_project_story_task_path(project_id: task.project_id, story_id: task.story_id,id: task.id), :class => "btn btn-warning" %>
            <%= link_to 'Destroy', project_story_task_path(project_id: task.project_id,story_id: task.story_id,id: task.id), method: :delete, :class => "btn btn-danger",data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>      
    <% end %>
  </div>
</div>
