<div class="page-header">
  <h1>Projects</h1>
</div>
<div class="clearfix"></div>
<% if Project.with_role(:client,current_user).any? %> 
  <div class="projects">
  <% Project.with_role(:client,current_user).each do |project| %>
      <div class="col-md-4 project">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title pull-left">
              <h3><%= link_to project.name, completedstories_project_path(project) %></h3>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="progress">
            <% completed_stories = project.stories.where(state: 'Accepted').count.to_f %>
             <% total_stories = project.stories.count.to_f %>
            <div data-toggle="tooltip" title="<%= completed_stories.to_i %>" class="progress-bar progress-bar-success" style="width: <%= (completed_stories/total_stories)*100 %>%;">
            </div>
          </div>
          <div class="panel-body">
            <%= time_ago_in_words(project.created_at, include_seconds: true) %> ago
          </div>
        </div>
      </div>
  <% end %>
  </div>
<% end %>  