<div class="row">
  <div class="container">
    <ul class="nav nav-tabs" id="dashboardTab">
      <% if current_user.has_role? :super_admin or current_user.isRole :admin %>
        <li class="active" data-toggle="tab"><a href="#admin">Projects</a></li>
      <% end %>
      <% if current_user.isRole :developer %>
        <li><a href="#developer" data-toggle="tab">Developer</a></li>
      <% end %>
      <% if current_user.isRole :client %>
        <li><a href="#client" data-toggle="tab">Client</a></li>
      <% end %>
    </ul>

    <div class="tab-content" id="dashboardTabContent">
      <div class="tab-pane active" id="admin">
      <% if current_user.isRole :super_admin or current_user.isRole :admin %>
        <%= render 'super_admin_dashboard' %>
      <% end %>
      </div>
      <div class="tab-pane" id="developer">
        <% if current_user.isRole :developer %>
          <%= render 'developer_dashboard' %>
        <% end %>
      </div>
      <div class="tab-pane" id="client">
        <% if current_user.isRole :client %>
          <%= render 'client_projects' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
