<div class="row">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="text-info">New project</h1>



        <%= render 'form'%>

      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>