<div class="row">
  <div class="container">
    <div class="row">
      <h2>
        Listing tasks
      </h2>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_project_story_path(project_id: @story.project_id, id: @story.id) %> 
