.projects .panel-title h3 {
	display: inline;
}
.menubar {
	height:60px;
	outline:#aaa;
}

.project .progress {
	height: 5px;
	border-radius: 0px;
}

.story .progress {
	height: 8px;
	border-radius: 0px;
}
.story .text-info {
	display: inline;
}

#activities .activity-owner {
	color: #000;
}

#activities .activity {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}