<div class="container">
<div class="page-header">
<h1>Activities</h1>	
</div>
<% @activities.each do |activity| %>
  <% if activity.owner.email? %>
    <%= render_activity activity %>
  <% end %>
<% end %>
</div>